@model MealSaverApp.Models.ViewModels.UserProfileViewModel
@{ 
    ViewData["Title"] = "Profile";
}  

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"]</h2>

            <div class="col-md-2">
                <img src="@Model.ProfileImage" alt="Profile image" class="img-rounded img-responsive" />
            </div>
            <div class="col-md-4">
                <h3>@Model.Name</h3>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> @Model.EmailAddress
                    <i class="glyphicon glyphicon-pencil"></i>@Model.Role
                    User in database? @Model.ExistsInDb
                </p>
            </div>

            

            @if (Model.Ingredients != null || Model.Ingredients.Count > 0)
            {
                @foreach(var item in Model.Ingredients)
                {
                    <li>@item.Details.Name</li>
                }
            }
        </div>
        <a asp-controller="Ingredients" asp-action="Create">Create new ingredient</a>
    </div>
</div>